/** Google Fonts **/
@import url('https://fonts.googleapis.com/css?family=Signika:400,300,600,700');
@import url('https://fonts.googleapis.com/css?family=Sansita+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600,600italic,700,700italic');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: $helvetica;
}

/** Colours **/
$white: #FFFFFF;
$black: lighten(#000000, 15%);
$pureblack: #000000;
$supernova: #FFCC00;
$dodger-blue: #4E74FF;
$ship-cove: #7F99BE;
$indigo: #477DCA;
$everglade: #20392B;
$san-juan: #324766;
/*Greys*/
$tundora: #4A4A4A;


/** Mixins Start Below **/

/* Font Converter */
@mixin font-size($size, $base: 16 ){
  font-size: $size + px; //fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*Single side border-radius*/
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

/** Absolute Position **/
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

