section {
  $large-screen: em(768) !default;
  padding-top: em(16);
  padding-right: em(10);
  padding-bottom: em(16);
  padding-left: em(10);

  @include media($large-screen) {
    
  }
}

.section__inner {
  @include outer-container;
}

.section--features {
  background-color: $white;
}

.section--testimonials,
.section-highlights {
  background-color: lighten($pureblack, 95%);
}

.section--features,
.section--testimonials,
.section-highlights {
  padding-top: em(60);
}

.highlights__list,
.testimonials__list {
  @include clearfix;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: em(30);
}

.highlights__list {
  margin-bottom: em(40);
}

.content-box {
  $medium-screen: em(700) !default;
  $large-screen: em(1024) !default;

  background-color: $white;
  @include border-radius(em(7));
  -webkit-box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
     -moz-box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
          box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: em(30);
  display: inline-block;
  width: 100%;

  .image-mask {
    overflow: hidden;
  }

  .image-mask img {
    width: 100%;
  }

  .content-box__content {
    padding-right: em(25);
    padding-left: em(25);

    h5 {
      text-align: left;
    }
  }

  .highlights__service-list {
    @include font-size(13);
    padding: em(0) em(0) em(0) em(20);
    text-align: left;
  }

  .highlights__service-list li {
    color: lighten($pureblack, 55%)
  }

  @include media($medium-screen) {
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

.section-highlights {
  $medium-screen: em(700) !default;
  $large-screen: em(1024) !default;

  .content-box {

    @include media($medium-screen) {
      height: em(450);
    }
  }

  .button-holder {
    text-align: right;
    margin-bottom: em(20);
  }
}

.section--testimonials {
  $medium-screen: em(768) !default;
  $large-screen: em(1024) !default;
  
  .content-box {
    .testimonials__image-band {
      background-color: $supernova;
      height: em(70);
      padding-top: em(15);
    }

    .content-box__content {
      padding-top: em(30);
    }

    .testimonial__description-one-liner {
      color: lighten($pureblack, 60%);
      @include font-size(14);
      font-weight: bold;
      text-align: center;

      .testimonial__user--name {
        color: lighten($pureblack, 30%);
      }
    }

    .testimonial__quote {
      color: lighten($pureblack, 40%);
      font-style: italic;
      text-align: left;

      &:before,
      &:after {
        content: ' " ';
      }
    }

    .testimonial__service-provider {
      color: lighten($pureblack, 40%);
      font-weight: bold;
      text-align: center;
      margin-top: em(30);

      @include media($medium-screen){
        margin-top: em(20);
      }
    }

    .image-mask--circle {
      width: em(80);
      height: em(80);
      margin: 0 auto;
      border: em(3) solid rgba(250, 250, 250, 0.8);
      border-radius: em(70);
    }

    @include media($medium-screen) {
        height: em(420);
      }
  }
}

.testimonial__stars {
  color: lighten($pureblack, 80%);
  text-align: center;

  .yellow {
    color: $supernova;
  }
}


/** Features List **/
.features__list {
  padding: em(0);
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    margin-right: em(20);
    margin-left: em(20);
  }
}

.features__item-description p {
  margin: em(0);
  color: lighten($pureblack, 60%);
}

.features__item-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  /*background-size: cover;*/
  background-position: right center; 
}

/** Animated Sprites **/
@-webkit-keyframes play {
     from {
        background-position: 0px
    }
    to {
        background-position: -1600px
    }
}

.features__item--question .features__item-image {
  background-image: url('../images/sprite-animation-icon-1.png');
}

.features__item--quote .features__item-image {
  background-image: url('../images/sprite-animation-icon-2.png');
}

.features__item--select .features__item-image {
  background-image: url('../images/sprite-animation-icon-3.png');
}

.features__item--question .features__item-image:hover,
.features__item--quote .features__item-image:hover,
.features__item--select .features__item-image:hover {
  $large-screen: em(1024) !default;

  @include media($large-screen){
    @include animation-delay(2s);
    animation-timing-function: ease-out;
    -webkit-animation: play 1.5s steps(8) infinite;
       -moz-animation: play 1.5s steps(8) infinite;
        -ms-animation: play 1.5s steps(8) infinite;
         -o-animation: play 1.5s steps(8) infinite;
            animation: play 1.5s steps(8) infinite;
  }
}
