section {
  $large-screen: em(768) !default;
  padding-top: em(16);
  padding-right: em(10);
  padding-bottom: em(16);
  padding-left: em(10);

  @include media($large-screen) {
    
  }
}

.section__inner {
  @include outer-container;
}

.section--features {
  background-color: $white;
}

.section--testimonials,
.section-highlights {
  background-color: lighten($pureblack, 95%);
}

.highlights__list,
.testimonials__list {
  @include clearfix;
  margin: 0;
  padding: 0;
}

.content-box {
  $large-screen: em(1024) !default;
  background-color: $white;
  @include border-radius(em(7));
  -webkit-box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
     -moz-box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
          box-shadow: em(0) em(5) em(0) em(0) rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: em(20);

  .image-mask {
    overflow: hidden;
  }

  .image-mask img {
    width: 100%;
  }

  .content-box__content {
    padding-right: em(25);
    padding-left: em(25);
  }

  .highlights__service-list {
    @include font-size(13);
    padding: em(0) em(0) em(0) em(20);
  }

  .highlights__service-list li {
    color: lighten($pureblack, 55%)
  }

  @include media($large-screen) {
    @include span-columns(4);
    margin-right: 1.5%;
  }
}

.section--testimonials {
  /*$mobile: new-breakpoint(max-width 480px 4);*/
  .content-box {
    .testimonials__image-band {
      background-color: $supernova;
      height: em(70);
      padding-top: em(15);
    }

    .content-box__content {
      padding-top: em(30);
    }

    .testimonial__description-one-liner {
      color: lighten($pureblack, 60%);
      @include font-size(14);
      font-weight: bold;
      text-align: center;

      .testimonial__user--name {
        color: lighten($pureblack, 30%);
      }
    }

    .testimonial__quote {
      color: lighten($pureblack, 40%);
      font-style: italic;

      &:before,
      &:after {
        content: ' " ';
      }
    }

    .testimonial__service-provider {
      color: lighten($pureblack, 40%);
      font-weight: bold;
      text-align: center;
      margin-top: em(30);
    }

    .image-mask--circle {
      width: em(80);
      height: em(80);
      margin: 0 auto;
      border: em(3) solid rgba(250, 250, 250, 0.8);
      border-radius: em(70);
    }
  }
}

.testimonial__stars {
  color: lighten($pureblack, 80%);
  text-align: center;

  .yellow {
    color: $supernova;
  }
}

/** Testimonial Section Styles **/
.testimonials__list {
  margin: 0;
  padding: 0;
}

/** Features List **/
.features__list {
  padding: em(0);
  text-align: center;

  li {
    list-style: none;
  }
}

.features__item-description p {
  margin: em(0);
}

.features__item-image {
  width: em(300);
  height: em(300);
  margin: 0 auto;
  background-size: cover;
  background-position: right; 
}

.features__item--question .features__item-image {
  background-image: url('../images/sprite-animation-icon-1.png');
}

.features__item--quote .features__item-image {
  background-image: url('../images/sprite-animation-icon-2.png');
}

.features__item--select .features__item-image {
  background-image: url('../images/sprite-animation-icon-3.png');
}