.hero {  
  position: relative;
  $base-border-radius: em(3) !default;
  $action-color: $indigo !default;

  $large-screen: em(860) !default;
  $medium-screen: em(768) !default;

  $hero-background-top: $ship-cove; 
  $hero-background-bottom: $everglade;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../images/hero-img-dog.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: $san-juan;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: em(100);

  .hero__inner {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 1;
    margin: auto;
    padding: em(140) em(10) em(60) em(10);
    text-align: center;

    .hero-copy {
      text-align: center;

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    @include media($medium-screen){
      padding: em(200) em(10) em(100) em(10);
    }
  }
}

.hero__underlay {
  position: absolute;
  @include abs-pos(em(0) em(0) em(0) em(0));
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__categories {
  $large-screen: em(1024) !default;
  $medium-screen: em(768) !default;

  @include abs-pos(auto, em(0), em(0), em(0));
  z-index: 2;
  padding-top: em(15);
  background-color: rgba(250, 250, 250, 0.4);

  ul {
    margin: em(0);
    padding: em(0);
  }

  ul li {
    list-style: none;
    display: inline-block;
    width: 18%;
  }

  ul li p {
    font-style: italic;
  }

  @include media($medium-screen){
    padding-top: em(20);
    padding-bottom: em(20);

    ul li .fa,
    ul li p {
      display: inline;
      vertical-align: middle;
    }

    ul li p {
      @include font-size(14);
      margin-left: em(10);
    }
  }

}