/* One level of nesting -- don't overdo it! */


.navigation--main {
  $medium-screen: em(768) !default;
  @include outer-container;
  @include abs-pos(em(0), auto, auto, em(0));
  z-index: 2;
  padding-top: em(20);
  padding-right: em(10);
  padding-left: em(10);
  text-align: center;
  width: 100%;

  @include media($medium-screen) {

  }
}

.logo--main {
  $medium-screen: em(768) !default;
  $large-screen: em(1024) !default;
  @include span-columns(12);

  img {
    width: em(270);
  }

  @include media($medium-screen) {
    @include span-columns(5);
    text-align: left;
  }

  @include media($large-screen) {
    @include span-columns(5);
  }
}

.navigation--main nav {
  $medium-screen: em(768) !default;
  @include span-columns(12);

  ul {
    padding-left: em(0);
  }

  ul li {
    display: inline-block;
    list-style: none;
    margin-right: em(5);
    margin-left: em(5);
  }

  @include media($medium-screen) {
    @include span-columns(5);

    ul {
      text-align: right;
    }
  }
}
