/* One level of nesting -- don't overdo it! */

.navigation--main {
  @include outer-container;
  @include abs-pos(em(0), auto, auto, em(0));
  z-index: 2;
  padding-top: em(20);
  padding-right: em(10);
  padding-left: em(10);
  text-align: center;
}

.logo--main {
  @include span-columns(12);

  img {
    width: 80%;
  }
}

.navigation--main nav {
  @include span-columns(12);

  ul {
    padding-left: em(0);
  }

  ul li {
    display: inline-block;
    list-style: none;
    margin-right: em(5);
    margin-left: em(5);
  }
}

.dropdown--country-select {
  @include span-columns(3);
}